.button {
  position: relative;
  display: inline-block;
  padding: 8px 33px;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
  text-transform: capitalize;
  color: hsl(var(--color-white), 100%);
  background-color: var(--color-lime);
  background-image: var(--gradient-fancy);
  border-radius: 22px;
  outline: none;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 22px;
}

.button:focus::after {
  background-color: hsla(var(--color-white), 100%, .4);
}

@media (hover: hover) and (pointer: fine) {

  .button:hover::after {
    background-color: hsla(var(--color-white), 100%, .4);
  }
}
