.button {
  display: inline-block;
  padding: 8px 33px;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-white-light);
  background-color: var(--color-lime);
  background-image: var(--gradient-fancy);
  border-radius: 22px;
  outline: none;
}

.button:focus {
  opacity: .4;
}

@media (hover: hover) and (pointer: fine) {

  .button:hover {
    opacity: .4;
  }
}
