.features {
  padding-block: 64px;
  text-align: center;
  background-color: hsl(var(--color-white), 96%);
}

.features__container {
  width: calc(100% - 48px);
  max-width: 1110px;
  margin-inline: auto;
}

.features__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 32px;
  letter-spacing: -.571px;
  color: hsl(var(--color-black));
}

.features__lead {
  max-width: 635px;
  margin-top: 0;
  margin-bottom: 56px;
  margin-inline: auto;
  line-height: 1.66;
  letter-spacing: -.234px;
}

.features__list {
  display: grid;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__icon {
  margin-bottom: 21px;
  background-image: var(--gradient-fancy);
  border-radius: 50%;
}

.features__subtitle {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: -.357px;
  text-transform: capitalize;
  color: hsl(var(--color-black));
}

.features__text {
  max-width: 635px;
  margin-block: 0;
  margin-inline: auto;
  line-height: 1.66;
  letter-spacing: -.234px;
}

@media (min-width: 768px) {

  .features__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 1.6;
    letter-spacing: -.714px;
  }

  .features__lead {
    margin-bottom: 72px;
    line-height: 1.55;
    letter-spacing: -.281px;
  }

  .features__icon {
    margin-bottom: 38px;
  }

  .features__subtitle {
    margin-bottom: 26px;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -.429px;
  }

  .features__text {
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: -.25px;
  }
}

@media (min-width: 1200px) {

  .features {
    padding-top: 96px;
    padding-bottom: 101px;
    text-align: left;
  }

  .features__lead {
    margin-left: 0;
  }

  .features__list {
    grid-template-columns: repeat(auto-fit, 255px);
    gap: 30px;
  }

  .features__text {
    margin-left: 0;
  }
}
