.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  margin: 0;
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: var(--color-gray-dark);
  background-color: hsl(var(--color-white), 98%);
}

.page--no-overflow {
  overflow: hidden;
}

.page__main {
  overflow: hidden;
}

@media (min-width: 768px) {

  .page {
    font-size: 18px;
  }
}
